@model BlogMvcErtan.Models.Makaleler
@{
    ViewBag.Title = "MakaleDetay";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}






<!-- Bootstrap core CSS -->
<!-- Custom styles for this template -->
<link href="~/Content/css/blog-post.css" rel="stylesheet">
<link href="~/Content/CommentStyle.css" rel="stylesheet" />
<link href="~/Content/YorumListele.css" rel="stylesheet" />
<!-- Post Content Column -->
<!-- Title -->
<h1 class="mt-4">@Model.MakaleBasligi</h1>
<!-- Author -->
<p class="lead">
    by
    <a href="#">Yunus Ünver</a>
</p>
<hr>
<!-- Date/Time -->
@Model.MakaleTarih<span class="glyphicon glyphicon-eye-open" style="float:right">@Model.OkunmaSayisi</span>
<hr>
<!-- Preview Image -->

<div class="col-md-offset-4">
    <img class="img-fluid rounded" src="@Model.MakaleFoto" alt="" style="width:300px;height:300px">
</div>
<hr>
<!-- Post Content -->
<p class="lead">@Model.Makaleİcerik</p>


@if (Session["uyeid"] != null)
{
    using (Html.BeginForm())
    {
        <div class="card my-4">

            <div class="card-body">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" rows="5"  id="gelenYorum" placeholder="Makale hakkında yorum yap" style="width:300px"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="btnYorumYap"><i class="fa fa-share"></i>Yorum Yap</button>
                </form>
            </div>
        </div>
    }
}
else
{
    <p>Yorum yapabilmeniz için giriş yapmanız gerekiyor</p>
                    <a href="/Uye/Login" class="btn btn-primary">Giriş Yap</a>
}
@*@foreach (var item in Model.Yorumlars.OrderByDescending(x=>x.YorumTarihi))
    {
        <div class="media">
            <a class="pull-left" href="/Uye/UyeDetay">
                <img class="media-object" src="@item.Uyeler.UyeFoto" alt="@item.Uyeler.UyeAdSoyad" width="75" height="75" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    @item.Uyeler.UyeAdSoyad
                    <small>@item.YorumTarihi</small>
                </h4>
                @item.YorumIcerik<br />
                @if (Convert.ToInt32(Session["uyeid"])==item.UyeId)
                {
                    <a href="/Home/YorumSil/@item.YorumId" class="btn btn-danger">Sil</a>
                }


            </div>
        </div>
    }*@
@foreach (var item in Model.Yorumlars.OrderByDescending(x => x.YorumTarihi))
{
    <div class="row">
        <!-- Contenedor Principal -->
        <div class="comments-container">

            <ul id="comments-list" class="comments-list">
                <li>
                    <div class="comment-main-level">
                        <!-- Avatar -->
                        <div class="comment-avatar"><img src="@item.Uyeler.UyeFoto" alt=""></div>
                        <!-- Contenedor del Comentario -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name"><a href="http://creaticode.com/blog">@item.Uyeler.UyeAdSoyad</a></h6>
                                <span>@item.YorumTarihi</span>
                                <i>
                                    @if (Convert.ToInt32(Session["uyeid"]) == item.UyeId)
                                    {
                                        <a href="/Home/YorumSil/@item.YorumId" class="glyphicon glyphicon-remove">Sil</a>
                                    }
                                </i>

                            </div>
                            <div class="comment-content">
                                @item.YorumIcerik
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
}





<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/vendor/popper/popper.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {

            $('#btnYorumYap').click(function () {
                var gelenVeri = $('#gelenYorum').val();
                $.ajax({
                    url: "/Home/YorumYap",
                    data: { yorum: gelenVeri, makaleID:@Model.MakaleID},
                    type: 'POST',
                    dataType: 'json',
                    success: (function (data) {

                    })


                });
            });
        });


</script>
<script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/Home/OkunmaSayisiArtir',
                data: {id:@Model.MakaleID},
                type:'POST'
            })
        });
</script>


