@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BlogMvcErtan.Models.Yorumlar>

@{
    ViewBag.Title = "YorumListele";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>YorumListele</h2>


<table class="table">
    <tr>
        <th>
           Makale Başlığı
        </th>
        <th>
            Kullanıcı Adı
        </th>
        <th>
            Yorum İçerik
        </th>
        <th>
            Tarih
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Makaleler.MakaleBasligi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uyeler.KullanıcıAdı)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YorumIcerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YorumTarihi)
        </td>
        <td>
            
            @Html.ActionLink("Sil", "YorumSil", new { id=item.YorumId })
        </td>
    </tr>
}

</table>
<div class="pagedList col-md-4 col-md-offset-4">

    @Html.PagedListPager(Model, sayfa => Url.Action("YorumListele", new { sayfa }), PagedListRenderOptions.PageNumbersOnly)
</div>