@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BlogMvcErtan.Models.Makaleler>

@{
    ViewBag.Title = "MakaleListele";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>MakaleListele</h2>

<p>
    @Html.ActionLink("Yeni Ekle", "MakaleEkle")
</p>
<table class="table">
    <tr>
        <th>
            Kategori Adı
        </th>
        <th>
            Makale Başlığı
        </th>
        <th>
            Resim
        </th>
        <th>
            Tarih
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kategoriler.KategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakaleBasligi)
        </td>     
        <td>
            <img src="@item.MakaleFoto" class="img-circle" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakaleTarih)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "MakaleDuzenle", new { id=item.MakaleID }) |
            @Html.ActionLink("Detay", "MakaleDetay", new { id=item.MakaleID }) |
            @Html.ActionLink("Sil", "MakaleSil", new { id=item.MakaleID })
        </td>
    </tr>
}

</table>
<div class="pagedList col-md-4 col-md-offset-4">

    @Html.PagedListPager(Model, sayfa => Url.Action("MakaleListele", new { sayfa }), PagedListRenderOptions.PageNumbersOnly)
</div>